<% if resource.errors.any? %>
<div class="error-alert">
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li class='error-message'>
    </li>
    <li class='error-message'>
     "nickname can't be blank"
    <% end %>
  </ul>
</div>
<% end %>